apiVersion: v1
kind: Secret
metadata:
  name: gitlab-repo-credentials
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://gitlab.home.rottlr.de/idp/platform/idp-argocd-platform-apps.git
  username: TODO
  password: TODO
